@page
@* @using SdA.AFrodoJourney.Core.Models *@

@model PeopleModel

@{
	//Layout = "_LayoutSansBootstrap";


	// Model.PersonList
}
<div class="row">
	<div class="col">
		<h2>Filtres</h2>
	</div>
</div>

<div class="row">
	<div class="col">
		<label>Contrée</label>
	</div>
	<div class="col">
		@* <select>
			@foreach (var item in Model.LocationList)
			{
				<option value="@item.Id">@item.Label</option>
			}
		</select> *@

		@{
			var listItems = Model.LocationList.Select(item => new SelectListItem() { Text= item.Label, Value = item.Id.ToString() });
		}

		<select asp-items="listItems">
		</select>
	</div>
</div>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Prénom</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.PersonList)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Surname</td>
				<td>
					@* <a href="/characters/edit/@item.Id">Editer</a> *@
					<a asp-page="Edit" asp-route-id="@item.Id">Editer</a>
				</td>
			</tr>
		}
		
	</tbody>
</table>

